body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 20px;
}

.calendar-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 days a week */
    gap: 10px;
}

.day {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
